.header-body {
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 8px 16px;
    padding-right: 8px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.header-title {
    font-weight: bold;
    font-size: 28px;
}

.header-actions {
    flex-direction: row;
}

.header-actions * {
    margin-right: 8px;
}